.filter-card {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .75rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .75rem;
  margin-top: .75rem;
  justify-content: end;
}
